:host {
    display: block;
    border-radius: 16px;
}

.container {
    position: relative;
    height: 100%;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    border-radius: inherit;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
    overflow: hidden;;
}

.container h3 {
    margin: 0;
    font-size: 1.2rem;
}

.settings-button {
    position: absolute;
    top: 20px;
    right: 20px;
}

