<div class="header">
    

    <aside>
        <a>
            <app-custom-sidenav></app-custom-sidenav>
        </a>
    </aside>

    <h2>Dashboard app</h2>


    <button mat-raised-button [mat-menu-trigger-for]="WidgetMenu">
        <mat-icon>add_circle_outline</mat-icon>
        widget
    </button>

    <mat-menu #WidgetMenu="matMenu">
        @for (widget of store.WidgetstoAdd(); track widget.id) {
            <button mat-menu-item (click)="store.addWidget(widget)">
                {{widget.label}}
            </button>>
        } @empty {
            <button mat-menu-item>
                No widgets available
            </button>>
        }
    </mat-menu>        
    
</div>

<div #dashboardwidgets class="dashboard-widgtes">
    @for (w of store.addedWidgets(); track w.id) {
        <app-widget [data]="w"></app-widget>
    }
</div>


